@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.home {
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    text-shadow: 
    2px 1px 0px black,
    -1px -1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", sans-serif ;
    font-weight: 300;
}

.slide {
    
    font-size: 35px;
    border-radius: 20px;
    padding: 50px;
    width: 97vw;
    height: 70vh;
    box-shadow: 0 0 20px rgba(89, 89, 89, 0.7), 0 0 40px rgba(151, 151, 151, 0.8), inset 0 0 40px rgba(233, 233, 233, 0.4);
    /* border: 2px solid rgba(255, 255, 255, 0.1);  */

}



.intro {
    color: white;
    top: 5vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
}

.ai {
  
    top: 10vh;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.e-commerce {
    /* position: sticky; */
    z-index: 4; 
    top: 15vh;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgba(160, 160, 160, 0.9), rgba(0, 5, 15, 0.6)); /* Dark background for contrast */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000; /* Make sure it covers everything else */
  }
  
  .splash-screen .logo img {
    width: 150px; /* Adjust the logo size */
    height: auto;
    margin-bottom: 20px;
  }
  
  .splash-screen .quote p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
  }
  