/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */

.home {
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    position: relative;
/* 
    text-shadow: 
    2px 1px 0px black,
    -1px -1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black; */
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", sans-serif ;
    font-weight: 300;
}

.slide {
    
    /* border-radius: 20px; */
    padding: 50px;
    min-width: 100vw;
    height: 95vh;
    /* border: 1px solid rgba(0, 0, 0);  */

}



.intro {
    font-size: 40px;
    
    color: white;
    top: 5vh;
    position: sticky;
    display: flex;
    gap: 150px;
    align-items: center;
    z-index: 3;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}

#food{
    width: 400px;
    height: 400px;
}

.ai {
    font-size: 30px;

    background-color: black;
    top: 0vh;
    position: sticky;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.e-commerce {
    font-size: 30px;
    background: linear-gradient(90deg, rgba(83,26,140,1) 15%, rgba(15,223,240,1) 100%);
    position: sticky;
    z-index: 4; 
    top: 15vh;
    color: white;

    display: flex;
    /* flex-direction: column; */
    gap: 100px;
    align-items: center;
    justify-content: center;
}

#cart{
    width: 400px;
    /* height: 100px; */
}


.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgba(160, 160, 160, 0.9), rgba(0, 5, 15, 0.6)); /* Dark background for contrast */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000; /* Make sure it covers everything else */
  }
  
  .splash-screen .logo img {
    width: 150px; /* Adjust the logo size */
    height: auto;
    margin-bottom: 20px;
  }
  
  .splash-screen .quote p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
  }
  